.animated-banner {
  overflow: hidden;
}

.animated-banner__track {
  display: flex;
}

.animated-banner__unit {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.animated-banner__img {
  height: 65px;
  margin-right: -15px;
  margin-left: -15px;
  z-index: 1;
  width: auto;
}
