/* --- Contact block --- */

.block-contact {
  .jumbo-contact {
    font-size: 90px !important;

    @include media-breakpoint-down(md) {
      font-size: 80px !important;
    }

    @include media-breakpoint-down(sm) {
      font-size: 70px !important;
    }
  }

  .magnetic-badge {
    transition: transform 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    will-change: transform;
  }

  .badge {
    position: absolute;

    &:nth-child(2) {
      right: 0px;
      top: 30%;
    }

    &:nth-child(3) {
      right: 40%;
      top: 70%;
    }
  }
}