// -------------- Sistema de diseño --------------
// Las variables que se definan aquí hay que aplicarlas en las variables de bootstrap definidas a continuación

// Configuración fuentes generales
$cor-font-family-sans-serif: "raleway" !default;

// Configuración fuentes Headings añadidas en _mixins.scss
$cor-font-family-headings: "questrial" !default;

// Espacio para los bloques
$cor-spacer: 1rem !default;

// scss-docs-start color-variables CORPORATIVOS

// Define colores alternativos y añádelos en la configuración de bootstrap

// Color corporativo
$cor-primary: #c4f7af !default;
$cor-secondary: #1b1b1b !default;

//Colores oscuros
$cor-dark: #222222 !default;
$cor-gray: #d9d9d9 !default; //d6d1ca
$cor-warm-gray: #d6d1ca !default;
$cor-light: #f5f5f5 !default;
$cor-dark-green: #70d445 !default;
$cor-light-green: #bdf6a6 !default;

//Colores secundarios
$cor-green: #87af37 !default;
$cor-pink: #de078f !default;
$cor-blue: #002761 !default;
$cor-purple: #8c18f9 !default;
$cor-orange: #f75826 !default;
$cor-white: #ffffff !default;
$cor-black: #423830 !default;

// Define la paleta de colores básica
$cor-black: #000000 !default;
$cor-white: #ffffff !default; // Respetar siempre em blanco puro
$cor-transparent: transparent !default;

// Configuración colores del body
$cor-body-color: $cor-secondary;
$cor-body-bg: $cor-white;

// Colores para los iconos reemplazamos # por %23
$cor-color-icons-svg: str-replace(#{$cor-primary}, "#", "%23");
$cor-color-icons-svg-white: str-replace(#{$cor-white}, "#", "%23");
$cor-color-icons-svg-black: str-replace(#{$cor-black}, "#", "%23");

// Configuración containers
/*
//Original
$cor-container-max-widths-sm: 540px;
$cor-container-max-widths-md: 720px;
$cor-container-max-widths-lg: 960px;
$cor-container-max-widths-xl: 1140px;
$cor-container-max-widths-xxl: 1320px;
 */
$cor-container-max-widths-sm: 740px;
$cor-container-max-widths-md: 970px;
$cor-container-max-widths-lg: 1400px;
$cor-container-max-widths-xl: 1420px;
$cor-container-max-widths-xxl: 1440px;

//Grid breakpoints
$cor-grid-breakpoints-xs: 0;
$cor-grid-breakpoints-sm: 576px;
$cor-grid-breakpoints-md: 768px;
$cor-grid-breakpoints-lg: 992px;
$cor-grid-breakpoints-xl: 1900px;
$cor-grid-breakpoints-xxl: 2500px;

// Fonts base
$cor-font-size-base: 1rem * toRem(18) !default; // 14px
$cor-font-size-base-text: 1rem !default; //16 px
$cor-line-height-base: 1.2 !default;

// Fuentes extra fs-jumbo y fs-7 fs-8 añadidas en _utils.css
$cor-font-jumbo: $cor-font-size-base-text * toRem(120) !default;
$cor-font-jumbo-md: $cor-font-size-base-text * toRem(120) !default;
$cor-font-body: $cor-font-size-base-text * toRem(16) !default;
$cor-font-body-md: $cor-font-size-base-text * toRem(16) !default;
$cor-font-legend: $cor-font-size-base-text * toRem(14) !default;
$cor-font-legend-md: $cor-font-size-base-text * toRem(14) !default;
$cor-font-tag: $cor-font-size-base-text * toRem(12) !default;
$cor-font-tag-md: $cor-font-size-base-text * toRem(12) !default;

// Headings
$cor-headings-line-height: 1.4 !default;
$cor-headings-font-weight: 800;
$cor-headings-font-weight-light: 700;

// Headings y .fs-*
$cor-h1-font-size: $cor-font-size-base-text * toRem(61) !default;
$cor-h2-font-size: $cor-font-size-base-text * toRem(49) !default;
$cor-h3-font-size: $cor-font-size-base-text * toRem(39) !default;
$cor-h4-font-size: $cor-font-size-base-text * toRem(31) !default;
$cor-h5-font-size: $cor-font-size-base-text * toRem(25) !default;
$cor-h6-font-size: $cor-font-size-base-text * toRem(20) !default; //Body

// Configuraciones altura de linea añadidas en _mixins.scss
$cor-h1-line-height: 1.1 !default;
$cor-h2-line-height: 1.08 !default;
$cor-h3-line-height: 1.2 !default;
$cor-h4-line-height: 1.2 !default;
$cor-h5-line-height: 1.2 !default;
$cor-h6-line-height: 1.2 !default;

// Configuraciones altura de linea añadidas en _mixins.scss
$cor-h1-letter-spacing: normal !default;
$cor-h2-letter-spacing: normal !default;
$cor-h3-letter-spacing: normal !default;
$cor-h4-letter-spacing: normal !default;
$cor-h5-letter-spacing: normal !default;
$cor-h6-letter-spacing: normal !default;

// Configuración Headings  a partir de md añadidas en _utils.scss
$cor-h1-font-size-md: $cor-font-size-base-text * toRem(61) !default;
$cor-h2-font-size-md: $cor-font-size-base-text * toRem(49) !default;
$cor-h3-font-size-md: $cor-font-size-base-text * toRem(39) !default;
$cor-h4-font-size-md: $cor-font-size-base-text * toRem(31) !default;
$cor-h5-font-size-md: $cor-font-size-base-text * toRem(25) !default;
$cor-h6-font-size-md: $cor-font-size-base-text * toRem(20) !default;

// Configuración fuentes a partir de md .fs-1 .fs-2 y fs-md-1 que corresponde a los tamaños de los encabezados pero para textos añadidas en _utils.css
$cor-font-size-base-1-md: $cor-h1-font-size-md;
$cor-font-size-base-2-md: $cor-h2-font-size-md;
$cor-font-size-base-3-md: $cor-h3-font-size-md;
$cor-font-size-base-4-md: $cor-h4-font-size-md;
$cor-font-size-base-5-md: $cor-h5-font-size-md;
$cor-font-size-base-6-md: $cor-h6-font-size-md;

// Configuración fuentes extra-grandes .display-1 .display-2... añadidas en _utils.scss
$cor-display-font-sizes-1: $cor-font-size-base-text * 5 !default;
$cor-display-font-sizes-2: $cor-font-size-base-text * 4.5 !default;
$cor-display-font-sizes-3: $cor-font-size-base-text * 4 !default;
$cor-display-font-sizes-4: $cor-font-size-base-text * 3.5 !default;
$cor-display-font-sizes-5: $cor-font-size-base-text * 3 !default;
$cor-display-font-sizes-6: $cor-font-size-base-text * 2.5 !default;

$cor-display-font-sizes-1-md: $cor-font-size-base-text * 9 !default;
$cor-display-font-sizes-2-md: $cor-font-size-base-text * 4.5 !default;
$cor-display-font-sizes-3-md: $cor-font-size-base-text * 4 !default;
$cor-display-font-sizes-4-md: $cor-font-size-base-text * 3.5 !default;
$cor-display-font-sizes-5-md: $cor-font-size-base-text * 3 !default;
$cor-display-font-sizes-6-md: $cor-font-size-base-text * 2.5 !default;

// Configuración cards
$cor-card-title: $cor-font-size-base-text * 1.125 !default; //18px
$cor-card-title-md: $cor-font-size-base-text * 1.125 !default;
$cor-card-title-font-weight: 400 !default;
$card-spacer-y: $cor-spacer;
$card-spacer-x: $cor-spacer;
$card-spacer-y-md: $cor-spacer * 1.5;
$card-spacer-x-md: $cor-spacer * 1.5;
$cor-card-border-width: 0px !default;
$cor-card-border-radius: 1.875rem !default; // 30px
$cor-card-border-radius-md: 1.875rem !default;
$cor-card-bg: $cor-gray;
$cor-card-img-overlay-padding: $cor-spacer * 1.5;
// Configuración cards extra incluidas en overrides/_cards

// Configuración sombras
$cor-box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.04) !default;

// Configuración botones
$cor-btn-padding-y: 0.775rem !default;
$cor-btn-padding-x: 1rem * toRem(22) !default;
$cor-btn-md-padding-y: 0.775rem !default; // 10px
$cor-btn-md-padding-x: 1rem * toRem(22) !default;
//$cor-btn-padding-top:            .8rem !default;
$cor-btn-line-height: 1 !default;

$cor-input-btn-padding-y-lg: 0.5rem !default;
$cor-input-btn-padding-top-lg: 0.6rem !default;
$cor-input-btn-padding-x-lg: 0.7rem !default;
$cor-btn-font-size: $cor-font-size-base-text * toRem(16) !default;
$cor-btn-font-size-md: $cor-font-size-base-text * toRem(14) !default;
$cor-input-btn-font-size-lg: $cor-font-size-base-text * 0.75 !default;
$cor-btn-font-weight: 500;

$cor-btn-border-radius: 0.8rem !default; // 50px
$cor-btn-border-radius-lg: $cor-btn-border-radius !default;

// Configuración Bordes
$cor-border-radius: 1.875rem !default; // 30px
$cor-border-radius-md: 1.875rem !default; // 30px

// Configuración formularios
$cor-input-padding-y: 0.88rem !default;
$cor-input-padding-x: 1.5rem !default;
$cor-input-bg: $cor-white;
$cor-input-color: $cor-black;
$cor-input-font-size: $cor-font-size-base-text * toRem(14) !default;
$cor-input-border-width: 2px !default;
$cor-input-border-color: $cor-white;
$cor-input-border-radius: 1rem * toRem(20);
$cor-input-focus-color: rgba($cor-black, 0.8);
$cor-input-placeholder-color: $cor-black;
$cor-input-focus-border-color: $cor-primary;
// Configuración checkbox

$cor-form-check-input-width: 1.125rem !default;
//$cor-form-check-input-position:               1rem !default;
//$cor-form-check-min-height:                   $font-size-base * $line-height-base !default;
$cor-form-check-padding-start: $cor-form-check-input-width + 0.5rem !default;
$cor-form-check-input-bg: rgba($cor-gray, 0.5) !default;
$cor-form-check-input-border: 2px solid rgba($cor-white, 0.9) !default;
$cor-form-check-input-border-radius: 50% !default;
$cor-form-check-input-focus-border: 1px solid $cor-primary !default;
$cor-form-check-input-checked-bg-color: $cor-white !default;
$cor-form-check-input-checked-border-color: $cor-primary !default;
$cor-form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$cor-color-icons-svg}'/></svg>") !default;
$cor-form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$cor-color-icons-svg}'/></svg>") !default;
$cor-form-check-label-color: $cor-black !default;

// Configuración del select
$cor-form-select-indicator-color: $cor-black !default;
$cor-form-select-indicator-padding: 2.25rem !default;
$cor-form-select-bg-position: right 1rem center !default;

// Configuración dropdown
$cor-dropdown-min-width: 7rem !default;
$cor-dropdown-padding-x: 1rem * toRem(16) !default;
$cor-dropdown-padding-y: 1rem * toRem(16) !default;
$cor-dropdown-spacer: 1.5rem !default;
$cor-dropdown-font-size: $cor-btn-font-size;
$cor-dropdown-color: $cor-black !default;
$cor-dropdown-bg: $cor-white !default;
$cor-dropdown-border-color: none !default;
$cor-dropdown-border-radius: 1.5rem !default;
$cor-dropdown-border-width: 0 !default;
$cor-dropdown-inner-border-radius: 5rem !default; // stylelint-disable-line function-disallowed-list
$cor-dropdown-link-color: $cor-black !default;
$cor-dropdown-link-hover-bg: rgba($cor-black, 0.08) !default;
$cor-dropdown-link-active-color: $cor-black !default;
$cor-dropdown-link-active-bg: $cor-primary !default;
$cor-dropdown-item-padding-y: $cor-spacer * 0.8 !default;
$cor-dropdown-item-padding-x: $cor-spacer * 1 !default;

// Configuración Navs nav-variables
// Configuración nav-variables
$cor-nav-link-font-weight: 400 !default;
$cor-nav-link-padding-y: 0.5rem !default;
$cor-nav-link-padding-x: 1rem !default;
$cor-nav-link-font-size: $cor-font-size-base-text * toRem(12) !default;
$cor-nav-link-color: $cor-black !default;
$cor-nav-link-hover-color: rgba($cor-black, 0.5) !default;

// Configuración Navbar nav-variables
$cor-navbar-nav-link-padding-x: 0.94rem !default;
$cor-navbar-light-color: $cor-black !default;
$cor-navbar-light-hover-color: rgba($cor-black, 0.5) !default;
$cor-navbar-light-active-color: rgba($cor-black, 0.5) !default;

// Configuración Close
$cor-btn-close-color: $cor-black !default;
$cor-btn-close-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M13.0675 12.1832C13.1256 12.2412 13.1717 12.3102 13.2031 12.386C13.2345 12.4619 13.2507 12.5432 13.2507 12.6253C13.2507 12.7075 13.2345 12.7888 13.2031 12.8647C13.1717 12.9405 13.1256 13.0095 13.0675 13.0675C13.0095 13.1256 12.9405 13.1717 12.8647 13.2031C12.7888 13.2345 12.7075 13.2507 12.6253 13.2507C12.5432 13.2507 12.4619 13.2345 12.386 13.2031C12.3102 13.1717 12.2412 13.1256 12.1832 13.0675L7.00035 7.88394L1.81753 13.0675C1.70026 13.1848 1.5412 13.2507 1.37535 13.2507C1.2095 13.2507 1.05044 13.1848 0.93316 13.0675C0.815885 12.9503 0.75 12.7912 0.75 12.6253C0.75 12.4595 0.815885 12.3004 0.93316 12.1832L6.11675 7.00035L0.93316 1.81753C0.815885 1.70026 0.75 1.5412 0.75 1.37535C0.75 1.2095 0.815885 1.05044 0.93316 0.93316C1.05044 0.815885 1.2095 0.75 1.37535 0.75C1.5412 0.75 1.70026 0.815885 1.81753 0.93316L7.00035 6.11675L12.1832 0.93316C12.3004 0.815885 12.4595 0.75 12.6253 0.75C12.7912 0.75 12.9503 0.815885 13.0675 0.93316C13.1848 1.05044 13.2507 1.2095 13.2507 1.37535C13.2507 1.5412 13.1848 1.70026 13.0675 1.81753L7.88394 7.00035L13.0675 12.1832Z" fill="#00382E"/></svg>') !default;
$cor-btn-close-focus-shadow: 0 !default;
$cor-btn-close-opacity: 1 !default;
$cor-btn-close-hover-opacity: 0.75 !default;

// Configurar form-switch-variables
$cor-form-switch-color: rgba($cor-white, 1) !default;
$cor-form-switch-width: 3rem !default;
$cor-form-switch-height: 1.75rem !default;
$cor-form-switch-box-shadow: none !default;

$cor-form-switch-padding-start: $cor-form-switch-width !default;
$cor-form-switch-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$cor-form-switch-color}'/></svg>") !default;
$cor-form-switch-border-radius: $cor-form-switch-width !default;
$cor-form-switch-transition: background-position 0.15s ease-in-out !default;

$cor-form-switch-focus-color: $cor-white !default;
$cor-form-switch-focus-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$cor-form-switch-focus-color}'/></svg>") !default;

$cor-form-switch-checked-color: $cor-white !default;
$cor-form-switch-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$cor-form-switch-checked-color}'/></svg>") !default;
$cor-form-switch-checked-bg-position: right center !default;

// scss-docs-start alert-variables
$alert-padding-y: $cor-spacer !default;
$alert-padding-x: $cor-spacer !default;
$alert-margin-bottom: 1rem !default;
//$alert-border-radius:           transparent !default;
$alert-link-font-weight: 500 !default;
$alert-border-width: 0 !default;
$alert-dismissible-padding-r: $alert-padding-x * 3 !default; // 3x covers width of x plus default padding on either side
// scss-docs-end alert-variables

// -------------- FIN Sistema de diseño --------------
