//Animación
//https://www.cssscript.com/button-ripple-effect-on-click/

.btn {
  &:not(.btn-lg, .btn-sm) {
    @include media-breakpoint-up(md) {
      @include button-size($cor-btn-md-padding-y, $cor-btn-md-padding-x, $cor-btn-font-size-md, $cor-btn-border-radius);
    }
  }

  /*&.btn-nav{
    @include media-breakpoint-down(md) {
      @include button-variant($cor-primary, $cor-primary);
      @include button-size($spacer * .9, $spacer * 1.5, $cor-btn-font-size, $cor-btn-border-radius);
    }
  }*/
}

.dropdown .btn-drop {
  @include button-variant($cor-gray, $cor-gray);
  @include button-size($spacer * .9, $spacer * 1.5, $cor-btn-font-size, $cor-btn-border-radius);
  @include media-breakpoint-up(md) {
    min-width: $cor-dropdown-min-width;
  }
}

.btn {
  &.btn-white {
    @include button-variant($cor-white, $cor-black, $cor-secondary, rgba($cor-gray, .8), $cor-secondary, $cor-black);

    &.activo {
      @include button-variant($cor-gray, $cor-black, $cor-secondary, rgba($cor-gray, .8), $cor-secondary, $cor-black);

    }
  }

   &.btn-pink {
    @include button-variant($cor-pink, rgba($cor-pink, .0), $cor-primary, rgba($cor-pink, .8), rgba($cor-pink, .8), $cor-primary);

    &.activo {
      @include button-variant(rgba($cor-pink, .8), $cor-black, $cor-primary, rgba($cor-gray, .8), $cor-secondary, $cor-black);

    }
  }

  &.btn-sticky {
    @include button-variant($cor-black, $cor-black, $cor-primary, rgba($cor-black, .8), rgba($cor-black, .8), $cor-primary);
    position: fixed;
    top:      50vh;
    transform: translate(0, -50%);
    right:    calc(1.5rem * 0.5);
    z-index:  100;
  }

  @media (max-width: 768px) {
    &.btn-sticky {
      top: auto !important;
      bottom: 10vh !important;
      right: calc(1.5rem * 0.5) !important;
      transform: none !important;
    }
  }
}